<template>
    <div class="container mx-auto px-3 py-6 lg:px-6">
        <h1>Example</h1>

        <p>This is an example of text.</p>

        <p>This is an example of text.</p>
    </div>
</template>

<script>
    export default {

        //

    }
</script>

<style lang="scss" scoped></style>
