<template>
    <hero>
        <div>
            <h1>Oops!</h1>

            <h2>You must be <a @click="setModal('login')">logged in</a></h2>
        </div>
    </hero>
</template>

<script>
    import {mapMutations} from 'vuex';
    import Hero from './../components/Hero';

    export default {

        components: {
            Hero,
        },

        methods: {
            ...mapMutations('AppStore', [
                'setModal',
            ]),
        },

    }
</script>

<style lang="scss" scoped></style>
