<template>
    <hero>
        <div>
            <h1>Oops!</h1>

            <h2>Page not found</h2>
        </div>
    </hero>
</template>

<script>
    import Hero from './../components/Hero';

    export default {

        components: {
            Hero,
        },

    }
</script>

<style lang="scss" scoped></style>
