<template>
    <div>
        <form @submit.prevent="handleSubmit">
            <div class="mb-6" v-bind:class="{'form-error': formErrors && formErrors.fullName}">
                <label for="fullName">Full Name</label>

                <input type="text" id="fullName" name="fullName" v-model.trim="formData.fullName">

                <ul v-if="formErrors && formErrors.fullName">
                    <li v-for="error in formErrors.fullName">{{ error }}</li>
                </ul>
            </div>

            <div class="mb-6" v-bind:class="{'form-error': formErrors && formErrors.email}">
                <label for="email">Email</label>

                <input type="email" id="email" name="email" v-model.trim="formData.email">

                <ul v-if="formErrors && formErrors.email">
                    <li v-for="error in formErrors.email">{{ error }}</li>
                </ul>
            </div>

            <div class="mb-6" v-bind:class="{'form-error': formErrors && formErrors.password}">
                <label for="password">Password</label>

                <input type="password" id="password" name="password" v-model.trim="formData.password">

                <ul v-if="formErrors && formErrors.password">
                    <li v-for="error in formErrors.password">{{ error }}</li>
                </ul>
            </div>

            <div class="flex -mx-3 mb-6">
                <div class="w-full md:w-1/2 px-3" v-bind:class="{'form-error': formErrors && formErrors.selectOne}">
                    <label for="select-one">Select One</label>

                    <div class="relative">
                        <select id="select-one" name="select-one" v-model.trim="formData.selectOne">
                            <option></option>

                            <option value="1">One</option>

                            <option value="2">Two</option>

                            <option value="3">Three</option>
                        </select>

                        <font-awesome-icon icon="chevron-down"/>

                        <ul v-if="formErrors && formErrors.selectOne">
                            <li v-for="error in formErrors.selectOne">{{ error }}</li>
                        </ul>
                    </div>
                </div>

                <div class="w-full md:w-1/2 px-3" v-bind:class="{'form-error': formErrors && formErrors.selectTwo}">
                    <label for="select-two">Select Two</label>

                    <div class="relative">
                        <select id="select-two" name="select-two" v-model.trim="formData.selectTwo">
                            <option></option>

                            <option value="1">One</option>

                            <option value="2">Two</option>

                            <option value="3">Three</option>
                        </select>

                        <font-awesome-icon icon="chevron-down"/>

                        <ul v-if="formErrors && formErrors.selectTwo">
                            <li v-for="error in formErrors.selectTwo">{{ error }}</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="flex flex-wrap -mx-3">
                <div class="w-1/2 md:w-1/4 px-3 md:px-3 md:py-0">
                    <button class="cancel" @click="handleCancel" type="button">Cancel</button>
                </div>

                <div class="w-1/2 md:w-3/4 px-3 md:px-3 md:py-0">
                    <button class="submit" @click="handleSubmit" type="submit" >Register</button>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
    export default {

        data() {
            return {
                formData: {
                    fullName: null,
                    email: null,
                    password: null,
                    selectOne: null,
                    selectTwo: null,
                },
                formErrors: null,
            };
        },

        methods: {
            handleCancel: function() {
                //
            },

            handleSubmit: function() {
                console.log(this.formData);
            },
        },

    }
</script>

<style lang="scss" scoped></style>
