<template>
    <form @submit.prevent="handleSubmit">
        <div class="mb-6" v-bind:class="{'form-error': formErrors && formErrors.email}">
            <label for="email">Email</label>

            <input type="email" id="email" name="email" v-model.trim="formData.email">

            <ul v-if="formErrors && formErrors.email">
                <li v-for="error in formErrors.email">{{ error }}</li>
            </ul>
        </div>

        <div class="mb-6" v-bind:class="{'form-error': formErrors && formErrors.password}">
            <label for="password">Password</label>

            <input type="password" id="password" name="password" v-model.trim="formData.password">

            <ul v-if="formErrors && formErrors.password">
                <li v-for="error in formErrors.password">{{ error }}</li>
            </ul>
        </div>

        <div class="mb-6" v-bind:class="{'form-error': formErrors && formErrors.passwordConfirmation}">
            <label for="password-confirmation">Confirm Password</label>

            <input type="password" id="password-confirmation" name="password-confirmation" v-model.trim="formData.passwordConfirmation">

            <ul v-if="formErrors && formErrors.passwordConfirmation">
                <li v-for="error in formErrors.passwordConfirmation">{{ error }}</li>
            </ul>
        </div>

        <div class="flex flex-wrap -mx-3">
            <div class="w-2/5 md:w-1/4 px-3 md:px-3">
                <button class="cancel" @click="handleCancel" type="button" >Cancel</button>
            </div>

            <div class="w-3/5 md:w-3/4 px-3 md:px-3">
                <button class="submit" @click="handleSubmit" type="submit" >Reset Password</button>
            </div>
        </div>
    </form>
</template>

<script>
    import {mapActions} from 'vuex';

    export default {

        data() {
            return {
                formData: {
                    email: null,
                    password: null,
                    passwordConfirmation: null,
                    token: null,
                },
                formErrors: null,
            };
        },

        created() {
            const query = new URLSearchParams(window.location.search);
            const token = query.get('token');

            if (token) this.formData.token = token;
        },

        methods: {
            ...mapActions('AppStore', [
                'setModal',
            ]),

            ...mapActions('AuthStore', [
                'doResetPassword',
            ]),

            handleCancel: function () {
                this.setModal(false);
            },

            handleSubmit: function () {
                this.formErrors = null;

                this.doResetPassword(this.formData).then(() => {
                    this.setModal('reset-password-success');

                    this.$router.push({name: 'home'});
                }).catch((error) => {
                    this.formErrors = error.response.data.body;
                });
            },
        },

    }
</script>

<style lang="scss" scoped></style>
