<template>
    <form @submit.prevent="handleSubmit">
        <div class="mb-6" v-bind:class="{'form-error': formErrors && formErrors.email}">
            <label for="email">Email</label>

            <input type="email" id="email" name="email" v-model.trim="formData.email">

            <ul v-if="formErrors && formErrors.email">
                <li v-for="error in formErrors.email">{{ error }}</li>
            </ul>
        </div>

        <div class="flex flex-wrap -mx-3">
            <div class="w-2/5 md:w-1/4 px-3 md:px-3">
                <button class="cancel" @click="handleCancel" type="button">Cancel</button>
            </div>

            <div class="w-3/5 md:w-3/4 px-3 md:px-3">
                <button class="submit" @click="handleSubmit" type="submit" >Reset Password</button>
            </div>
        </div>
    </form>
</template>

<script>
    import {mapActions} from 'vuex';

    export default {

        data() {
            return {
                formData: {
                    email: null,
                },
                formErrors: null,
            };
        },

        methods: {
            ...mapActions('AppStore', [
                'setModal',
            ]),

            ...mapActions('AuthStore', [
                'doResetPasswordRequest',
            ]),

            handleCancel: function () {
                this.formErrors = null;

                this.setModal(false);
            },

            handleSubmit: function () {
                this.formErrors = null;

                this.doResetPasswordRequest(this.formData).then(() => {
                    this.setModal('forgot-password-sent');
                }).catch((error) => {
                    this.formErrors = error.response.data.body;
                });
            },
        },

    }
</script>

<style lang="scss" scoped></style>
