<template>
    <form @submit.prevent="handleSubmit">
        <div class="mb-6" v-bind:class="{'form-error': formErrors && formErrors.name}">
            <label for="name">Name</label>

            <input type="text" id="name" name="name" v-model.trim="formData.name">

            <ul v-if="formErrors && formErrors.name">
                <li v-for="error in formErrors.name">{{ error }}</li>
            </ul>
        </div>

        <div class="mb-6" v-bind:class="{'form-error': formErrors && formErrors.email}">
            <label for="email">Email</label>

            <input type="email" id="email" name="email" v-model.trim="formData.email">

            <ul v-if="formErrors && formErrors.email">
                <li v-for="error in formErrors.email">{{ error }}</li>
            </ul>
        </div>

        <div class="mb-6" v-bind:class="{'form-error': formErrors && formErrors.password}">
            <label for="password">Password</label>

            <input type="password" id="password" name="password" v-model.trim="formData.password">

            <ul v-if="formErrors && formErrors.password">
                <li v-for="error in formErrors.password">{{ error }}</li>
            </ul>
        </div>

        <div class="mb-6" v-bind:class="{'form-error': formErrors && formErrors.passwordConfirmation}">
            <label for="password-confirmation">Confirm Password</label>

            <input type="password" id="password-confirmation" name="password-confirmation" v-model.trim="formData.passwordConfirmation">

            <ul v-if="formErrors && formErrors.passwordConfirmation">
                <li v-for="error in formErrors.passwordConfirmation">{{ error }}</li>
            </ul>
        </div>

        <div class="flex flex-wrap -mx-3">
            <div class="w-2/5 md:w-1/4 px-3 md:px-3">
                <button class="cancel" @click="handleCancel" type="button">Cancel</button>
            </div>

            <div class="w-3/5 md:w-3/4 px-3 md:px-3">
                <button class="submit" @click="handleSubmit" type="submit" >Register</button>
            </div>
        </div>
    </form>
</template>

<script>
    import {mapActions, mapMutations} from 'vuex';
    import Helpers from '../services/Helpers';

    export default {

        data() {
            return {
                formData: {
                    name: null,
                    email: null,
                    password: null,
                    passwordConfirmation: null,
                },
                formErrors: null,
            };
        },

        methods: {
            ...mapActions('AppStore', [
                'setModal',
            ]),

            ...mapActions('AuthStore', [
                'doLogout',
                'doRegister',
                'fetchMe',
            ]),

            ...mapMutations('AppStore', [
                'setPaneL',
                'setPaneR',
            ]),

            handleCancel: function () {
                this.setModal(false);
            },

            handleSubmit: function () {
                this.formErrors = null;

                this.doRegister(this.formData).then(() => {
                    this.fetchMe().then(() => {
                        this.$router.push({name: 'auth-dashboard'}, () => {
                            if (!Helpers.isMobile()) this.setPaneL(true);

                            this.setPaneR(false);

                            this.setModal(false);
                        });
                    }).catch(() => {
                        this.doLogout(this.formData);
                    });
                }).catch((error) => {
                    this.formErrors = error.response.data.body;
                });
            },
        },

    }
</script>

<style lang="scss" scoped></style>
