form {
    @apply block;

    label {
        @apply block mb-2 font-bold text-xs tracking-wide leading-none uppercase;
    }

    input:not([type='submit']), textarea, select {
        @apply appearance-none block px-4 py-5 w-full bg-white border-2 border-gray-300 rounded-none text-gray-900 leading-none;

        &:focus {
            @apply bg-white border-gray-900 outline-none;
        }
    }

    button {
        @apply block h-16 px-4 w-full;

        &.cancel {
            @apply bg-gray-300;
        }

        &.submit {
            @apply bg-gray-900 text-white;

            &:disabled {
                @apply opacity-50;
            }
        }
    }

    svg.fa-chevron-down {
        @apply absolute top-0 right-0 mt-6 mx-4 pointer-events-none;
    }

    div.form-error {
        input {
            @apply border-red-600;

            &:focus {
                @apply border-red-600;
            }
        }

        ul {
            li {
                @apply mt-2 text-sm text-red-600 leading-none;
            }
        }
    }
}
