body {
    @apply font-sans font-normal text-base tracking-normal leading-normal;

    main {
        @apply mt-16;
    }

    &.pane-l-open {
        @screen lg {
            main {
                @apply ml-64;
            }
        }
    }

    &.pane-r-open {
        @screen lg {
            main {
                @apply mr-64;
            }
        }
    }
}
