table {
    @apply w-full table-fixed;

    tr {
        @apply h-10;

        &:nth-child(even) {
            @apply bg-gray-100;
        }

        &:first-child {
            @apply border-b-2 border-gray-900;
        }

        &:not(:first-child) {
            @media (hover: hover) {
                &:hover {
                    @apply text-white bg-gray-900;
                }
            }
        }

        th {
            @apply px-3 font-bold text-xs text-left tracking-wide uppercase;

            @screen lg {
                @apply px-6;
            }

            &.text-center {
                @apply text-center;
            }
        }

        td {
            @apply px-3;

            @screen lg {
                @apply px-6;
            }
        }
    }
}
