h1 {
    @apply mb-2 font-bold text-4xl leading-tight tracking-wide uppercase;

    @screen lg {
        @apply text-5xl;
    }
}

h2 {
    @apply mb-6 font-medium text-xl leading-tight;

    @screen lg {
        @apply text-2xl;
    }
}

h3 {
    @apply mb-2 font-medium leading-tight;

    @screen lg {
        @apply text-xl;
    }
}

p {
    @apply mb-6;

    &:last-child {
        @apply mb-0;
    }
}

a {
    @apply cursor-pointer;
}
