<template>
    <block>
        <div>
            <div>
                <h3 class="mb-0">Users</h3>
            </div>

            <div class="table">
                <table>
                    <tr>
                        <th class="w-1/6 lg:w-1/5">ID</th>
                        <th class="w-1/6 lg:w-1/5">Name</th>
                        <th class="w-4/6 lg:w-1/5">Email</th>
                        <th class="hidden w-1/5 lg:table-cell">Telephone</th>
                        <th class="hidden w-1/5 lg:table-cell">Actions</th>
                    </tr>

                    <tr>
                        <td>1</td>
                        <td>User</td>
                        <td>user@example.com</td>
                        <td class="hidden lg:table-cell">(+01) 2345 678 910</td>
                        <td class="hidden lg:table-cell">&nbsp;</td>
                    </tr>

                    <tr>
                        <td>2</td>
                        <td>User</td>
                        <td>user@example.com</td>
                        <td class="hidden lg:table-cell">(+01) 2345 678 910</td>
                        <td class="hidden lg:table-cell">&nbsp;</td>
                    </tr>

                    <tr>
                        <td>3</td>
                        <td>User</td>
                        <td>user@example.com</td>
                        <td class="hidden lg:table-cell">(+01) 2345 678 910</td>
                        <td class="hidden lg:table-cell">&nbsp;</td>
                    </tr>

                    <tr>
                        <td>4</td>
                        <td>User</td>
                        <td>user@example.com</td>
                        <td class="hidden lg:table-cell">(+01) 2345 678 910</td>
                        <td class="hidden lg:table-cell">&nbsp;</td>
                    </tr>

                    <tr>
                        <td>5</td>
                        <td>User</td>
                        <td>user@example.com</td>
                        <td class="hidden lg:table-cell">(+01) 2345 678 910</td>
                        <td class="hidden lg:table-cell">&nbsp;</td>
                    </tr>
                </table>
            </div>

            <div>
                <p>This is an example of text.</p>
            </div>
        </div>
    </block>
</template>

<script>
    import Block from './../components/Block';

    export default {

        components: {
            Block,
        },

    }
</script>

<style lang="scss" scoped></style>
