<template>
    <block v-if="users">
        <div>
            <div>
                <h3 class="mb-0">Users</h3>
            </div>

            <div class="table">
                <table>
                    <tr>
                        <th class="w-1/12 lg:w-1/12">ID</th>
                        <th class="w-8/12 lg:w-4/12">Name</th>
                        <th class="hidden lg:w-4/12 lg:table-cell">Email</th>
                        <th class="w-3/12 text-center">Actions</th>
                    </tr>

                    <tr v-for="user in users.data">
                        <td>{{ user.id }}</td>
                        <td>{{ user.profile.name }}</td>
                        <td class="hidden lg:table-cell">{{ user.email }}</td>
                        <td class="text-center"></td>
                    </tr>
                </table>
            </div>

            <div class="pagination">
                <pagination v-bind:paginator="users" @fetch="fetchUsers"></pagination>
            </div>
        </div>
    </block>
</template>

<script>
    import {mapActions, mapState} from 'vuex';
    import Block from './../components/Block';
    import Pagination from './../components/Pagination';

    export default {

        components: {
            Block,
            Pagination,
        },

        computed: {
            ...mapState('UserStore', [
                'users',
            ]),
        },

        mounted() {
            let data = this.users ? { page: this.users.current_page } : null;

            this.fetchUsers(data);
        },

        methods: {
            ...mapActions('UserStore', [
                'fetchUsers',
            ]),
        },

    }
</script>

<style lang="scss" scoped></style>
