<template>
    <div class="container mx-auto px-3 py-6 lg:px-6">
        <block>
            <div>
                <h1>Dashboard</h1>

                <h2>This is an example of text</h2>
            </div>
        </block>

        <block>
            <div>
                <div>
                    <h3>Example</h3>

                    <p>This is an example of text.</p>
                </div>
            </div>
        </block>
    </div>
</template>

<script>
    import Block from './../../components/Block';

    export default {

        components: {
            Block,
        },

    }
</script>

<style lang="scss" scoped></style>
