<template>
    <div class="container mx-auto px-3 py-6 lg:px-6">
        <block>
            <div>
                <h1>Users</h1>

                <h2>This is an example of text</h2>
            </div>
        </block>

        <table-users></table-users>
    </div>
</template>

<script>
    import Block from './../../components/Block';
    import TableUsers from './../../tables/TableUsers';

    export default {

        components: {
            Block,
            TableUsers,
        },

    }
</script>

<style lang="scss" scoped></style>
