<template>
    <div class="component">
        <!-- Link -->
        <router-link to="/foo">Go to Foo</router-link>

        <!-- Link Name -->
        <router-link :to="{name: 'foo', params: {foo: 'bar'}}">Go to Foo</router-link>

        <!-- Modal -->
        <modal>
            <span slot="head">Hello</span>

            <p>This is an example of a paragraph.</p>

            <span slot="foot">
                <button class="button is-success">Save</button>
                <button class="button">Cancel</button>
            </span>
        </modal>
    </div>
</template>

<script>
    import {mapActions, mapGetters, mapMutations, mapState} from 'vuex';

    export default {

        props: [
            //
        ],

        components: {
            //
        },

        computed: {
            ...mapGetters('Example', [
                'getName',
            ]),

            ...mapState('Example', [
                'name',
            ]),

            //
        },

        data() {
            return {
                //
            };
        },

        filters: {
            //
        },

        beforeCreate() {
            //
        },

        created() {
            //
        },

        beforeMount() {
            //
        },

        mounted() {
            //
        },

        beforeUpdate() {
            //
        },

        updated() {
            //
        },

        activated() {
            //
        },

        deactivated() {
            //
        },

        beforeDestroy() {
            //
        },

        destroyed() {
            //
        },

        errorCaptured() {
            //
        },

        methods: {
            ...mapActions('Example', [
                'fetchName',
            ]),

            ...mapMutations('Example', [
                'setName',
            ]),

            //
        },

        watch: {
            name: function (newData, oldData) {
                //
            }
        },

    }
</script>

<style lang="scss" scoped></style>
