<template>
    <div class="block">
        <slot></slot>
    </div>
</template>

<script>
    export default {

        //

    }
</script>

<style lang="scss" scoped>
    div.block {
        @apply flex flex-wrap -mx-3;

        > div {
            @apply flex-grow mb-6 px-3;

            > div {
                @apply px-3 py-6 bg-white border-2 border-gray-900;

                @screen lg {
                    @apply px-6;
                }

                &:not(:first-child) {
                    @apply border-t-0;
                }

                &.pagination {
                    @apply p-0 text-right;
                }

                &.table {
                    @apply p-0;
                }
            }

            > h2 {
                @apply mb-0;
            }
        }
    }
</style>
