<template>
    <div class="hero">
        <slot></slot>
    </div>
</template>

<script>
    export default {

        props: [
            'classType',
        ],

    }
</script>

<style lang="scss" scoped>
    div.hero {
        height: calc(100vh - theme('height.48'));

        @apply flex flex-wrap;

        @screen md {
            height: calc(100vh - theme('height.16'));
        }

        > div {
            @apply flex-grow my-auto px-6 text-center;
        }

        h1 {
            @apply mb-2;
        }

        a {
            @apply underline;
        }
    }
</style>
