<template>
    <div>
        <portal to="modal" v-if="modal === 'login'">
            <h1>Login</h1>

            <p>
                Don't have an account? <a @click="setModal('register')">Register</a> today!<br>
                I've <a @click="setModal('forgot-password')">forgotten</a> my password.
            </p>

            <form-login></form-login>
        </portal>

        <portal to="modal" v-if="modal === 'forgot-password'">
            <h1>Forgot Password</h1>

            <p>Already have an account? <a @click="setModal('login')">Login</a> here.</p>

            <form-forgot-password></form-forgot-password>
        </portal>

        <portal to="modal" v-if="modal === 'forgot-password-sent'">
            <h1>Forgot Password</h1>

            <p>Please check your email. An email has been sent with a password reset link.</p>
        </portal>

        <portal to="modal" v-if="modal === 'register'">
            <h1>Register</h1>

            <p>Already have an account? <a @click="setModal('login')">Login</a> here.</p>

            <form-register></form-register>
        </portal>

        <portal to="modal" v-if="modal === 'reset-password'">
            <h1>Reset Password</h1>

            <p>Please enter a new password below.</p>

            <form-reset-password></form-reset-password>
        </portal>

        <portal to="modal" v-if="modal === 'reset-password-success'">
            <h1>Reset Password</h1>

            <p>Your password is successfully reset.</p>
        </portal>

        <portal to="modal" v-if="modal === 'verify-email-failed'">
            <h1>Account Verification Failed</h1>

            <p>Your account is not verified. Please contact our support team. You may have restricted access.</p>
        </portal>

        <portal to="modal" v-if="modal === 'verify-email-success'">
            <h1>Account Verified</h1>

            <p>Your account is successfully verified. You now have full access.</p>
        </portal>

        <div class="modal" v-bind:class="{visible: modalShow, invisible: !modalShow}">
            <div class="modal-body">
                <a class="close" @click="setModal(false)">
                    <font-awesome-icon :icon="['fas', 'times']"/>
                </a>

                <portal-target name="modal"></portal-target>
            </div>

            <div class="modal-back" @click="setModal(false)"></div>
        </div>
    </div>
</template>

<script>
    import {mapActions, mapState} from 'vuex';
    import FormForgotPassword from '../forms/FormForgotPassword';
    import FormLogin from '../forms/FormLogin';
    import FormRegister from '../forms/FormRegister';
    import FormResetPassword from '../forms/FormResetPassword';
    import Helpers from '../services/Helpers';

    export default {

        components: {
            FormForgotPassword,
            FormLogin,
            FormRegister,
            FormResetPassword,
        },

        computed: {
            ...mapState('AppStore', [
                'modal',
                'modalShow',
            ]),
        },

        created() {
            const query = new URLSearchParams(window.location.search);

            if (query.get('modal') === 'reset-password') this.setModal('reset-password');

            if (query.get('modal') === 'verify-email') {
                const email = query.get('email');
                const token = query.get('token');

                this.doVerifyEmail({email: email, token: token}).then(() => {
                    this.setModal('verify-email-success');

                    this.$router.push({name: 'home'});
                }).catch((error) => {
                    this.setModal('verify-email-failed');

                    this.$router.push({name: 'home'});
                });
            }
        },

        mounted() {
            Helpers.toggleBodyClass(this.modal, 'overflow-hidden');
        },

        methods: {
            ...mapActions('AppStore', [
                'setModal',
            ]),

            ...mapActions('AuthStore', [
                'doVerifyEmail',
            ]),
        },

        watch: {
            modalShow: function(newData) {
                Helpers.toggleBodyClass(newData, 'overflow-hidden');
            },
        },

    }
</script>

<style lang="scss">
    div.modal {
        @apply z-40 fixed inset-0 flex flex-col;
    }

    div.modal-back {
        @apply z-40 fixed inset-0 bg-gray-900 opacity-75 overflow-auto;
    }

    div.modal-body {
        @apply z-50 m-auto p-6 w-full h-full bg-white overflow-y-auto;

        @screen md {
            @apply w-4/5 h-auto;
        }

        @screen lg {
            @apply w-2/3 h-auto;
        }

        @screen xl {
            @apply w-1/2 h-auto;
        }

        h1 {
            @apply mb-5 uppercase font-bold text-2xl leading-tight;
        }

        a {
            @apply underline;

            &.close {
                @apply float-right -mt-6 -mr-6 p-6 text-2xl leading-none;
            }
        }

        form {
            @apply block mt-10;
        }
    }
</style>
