<template>
    <div class="pagination">
        <div>
            <div v-if="!isMobile">
                <p>{{ paginator.total }} in total</p>
            </div>
        </div>

        <div>
            <button :disabled="!paginator.prev_page_url" @click="$emit('fetch', {page: paginator.current_page - 1})">
                <font-awesome-icon :icon="['fas', 'chevron-left']"/>
            </button>

            <template v-if="paginator.current_page <= 3">
                <button @click="$emit('fetch', {page: 1})" :class="{active: paginator.current_page === 1}">
                    1
                </button>

                <button @click="$emit('fetch', {page: 2})" :class="{active: paginator.current_page === 2}" :disabled="!paginator.next_page_url">
                    2
                </button>

                <button @click="$emit('fetch', {page: 3})" :class="{active: paginator.current_page === 3}" :disabled="!paginator.next_page_url">
                    3
                </button>

                <button @click="$emit('fetch', {page: 4})" :class="{active: paginator.current_page === 4}" :disabled="!paginator.next_page_url">
                    4
                </button>

                <button @click="$emit('fetch', {page: 5})" :class="{active: paginator.current_page === 5}" :disabled="!paginator.next_page_url">
                    5
                </button>
            </template>

            <template v-if="paginator.current_page > 3 && paginator.current_page < (paginator.last_page - 2)">
                <button @click="$emit('fetch', {page: paginator.current_page - 2})">
                    {{ paginator.current_page - 2 }}
                </button>

                <button @click="$emit('fetch', {page: paginator.current_page - 1})">
                    {{ paginator.current_page - 1 }}
                </button>

                <button @click="$emit('fetch', {page: paginator.current_page})" class="active">
                    {{ paginator.current_page }}
                </button>

                <button @click="$emit('fetch', {page: paginator.current_page + 1})" :disabled="!paginator.next_page_url">
                    {{ paginator.current_page + 1 }}
                </button>

                <button @click="$emit('fetch', {page: paginator.current_page + 2})" :disabled="!paginator.next_page_url">
                    {{ paginator.current_page + 2 }}
                </button>
            </template>

            <template v-if="paginator.current_page >= (paginator.last_page - 2)">
                <button @click="$emit('fetch', {page: paginator.last_page - 4})" :class="{active: paginator.current_page === paginator.last_page - 4}">
                    {{ paginator.last_page - 4 }}
                </button>

                <button @click="$emit('fetch', {page: paginator.last_page - 3})" :class="{active: paginator.current_page === paginator.last_page - 3}">
                    {{ paginator.last_page - 3 }}
                </button>

                <button @click="$emit('fetch', {page: paginator.last_page - 2})" :class="{active: paginator.current_page === paginator.last_page - 2}">
                    {{ paginator.last_page - 2 }}
                </button>

                <button @click="$emit('fetch', {page: paginator.last_page - 1})" :class="{active: paginator.current_page === paginator.last_page - 1}">
                    {{ paginator.last_page - 1 }}
                </button>

                <button @click="$emit('fetch', {page: paginator.last_page})" :class="{active: paginator.current_page === paginator.last_page}">
                    {{ paginator.last_page }}
                </button>
            </template>

            <button :disabled="!paginator.next_page_url" @click="$emit('fetch', {page: paginator.current_page + 1})">
                <font-awesome-icon :icon="['fas', 'chevron-right']"/>
            </button>
        </div>
    </div>
</template>

<script>
    import Helpers from '../services/Helpers';

    export default {

        props: [
            'paginator',
        ],

        data() {
            return {
                isMobile: false,
            };
        },

        created() {
            this.isMobile = Helpers.isMobile();
        },

    }
</script>

<style lang="scss" scoped>
    div.pagination {
        @apply flex justify-between;

        div {
            @apply flex;

            p {
                @apply pt-1 pl-2;
            }

            input {
                @apply appearance-none w-16 pl-2 border-r-2 border-gray-900;

                &:focus {
                    @apply outline-none;
                }
            }

            button {
                @apply w-8 h-8 bg-white border-l-2 border-gray-900;

                @media (hover: hover) {
                    &:hover {
                        @apply bg-gray-900 text-white;
                    }
                }

                &:disabled {
                    @apply bg-white text-gray-500 cursor-default;
                }

                &.active {
                    @apply bg-gray-900 text-white;
                }
            }
        }
    }
</style>
