<template>
    <div class="pane-r" :class="{visible: paneR, invisible: !paneR}" @click.stop>
        <ul v-if="authenticated">
            <li>
                <router-link :to="{name: 'auth-account'}" @click.native="hidePaneIfMobile" exact>Account</router-link>
            </li>

            <li>
                <router-link :to="{name: 'auth-settings'}" @click.native="hidePaneIfMobile" exact>Settings</router-link>
            </li>

            <li>
                <a @click="handleLogout">Logout</a>
            </li>
        </ul>

        <ul v-if="!authenticated">
            <li>
                <a @click="setModal('login')">Login</a>
            </li>

            <li>
                <a @click="setModal('register')">Register</a>
            </li>
        </ul>
    </div>
</template>

<script>
    import {mapActions, mapMutations, mapState} from 'vuex';
    import Helpers from '../services/Helpers';

    export default {

        computed: {
            ...mapState('AppStore', [
                'paneR',
            ]),

            ...mapState('AuthStore', [
                'authenticated',
            ]),
        },

        methods: {
            ...mapActions('AppStore', [
                'setModal',
            ]),

            ...mapActions('AuthStore', [
                'doLogout',
            ]),

            ...mapMutations('AppStore', [
                'setPaneR',
            ]),

            handleLogout: function() {
                this.doLogout(this.formData);
            },

            hidePaneIfMobile: function () {
                if (Helpers.isMobile()) this.setPaneR(false);
            },
        },

    }
</script>

<style lang="scss" scoped>
    div.pane-r {
        @apply z-30 fixed inset-y-0 right-0 flex w-full mt-16 bg-white overflow-y-scroll;

        @screen lg {
            @apply w-64 border-l-2 border-gray-900;
        }

        > ul {
            @apply w-full;

            > li {
                @apply border-b-2 border-gray-900;

                a {
                    @apply flex items-center px-6 h-16 uppercase font-bold text-gray-900 no-underline;

                    &:hover, &.active, &.router-link-exact-active, &.router-link-active {
                        @apply text-white bg-gray-900;
                    }
                }

                > ul {
                    @apply mb-6 ml-6;

                    > li {
                        a {
                            @apply px-3 h-8 text-sm;
                        }
                    }
                }
            }
        }
    }
</style>
