<template>
    <div class="pane-t">
        <div>
            <button class="w-16" :class="{active: paneL}" @click="swapPaneL()">
                <font-awesome-icon :icon="['fas', 'align-left']"/>
            </button>
        </div>

        <button>
            <router-link :to="{name: 'home'}" @click.native="hidePaneB(true)" v-if="!authenticated">BASE</router-link>

            <router-link :to="{name: 'auth-dashboard'}" @click.native="hidePaneB(true)" v-else>BASE</router-link>
        </button>

        <div>
            <button class="w-16" :class="{active: paneR}" @click="swapPaneR()">
                <font-awesome-icon :icon="['far', 'user-circle']"/>
            </button>
        </div>
    </div>
</template>

<script>
    import {mapMutations, mapState} from 'vuex';
    import Helpers from '../services/Helpers';

    export default {

        computed: {
            ...mapState('AppStore', [
                'paneL',
                'paneR',
            ]),

            ...mapState('AuthStore', [
                'authenticated',
            ]),
        },

        mounted() {
            Helpers.toggleBodyClass(this.paneL, 'pane-l-open');

            Helpers.toggleBodyClass(this.paneR, 'pane-r-open');
        },

        methods: {
            ...mapMutations('AppStore', [
                'setPaneL',
                'setPaneR',
            ]),

            hidePaneB(scrollToTop) {
                if (Helpers.isMobile()) { this.setPaneL(false); this.setPaneR(false); }

                if (scrollToTop) Helpers.scrollToTop();
            },

            swapPaneL() {
                if (Helpers.isMobile()) this.setPaneR(false);

                this.setPaneL(!this.paneL);
            },

            swapPaneR() {
                if (Helpers.isMobile()) this.setPaneL(false);

                this.setPaneR(!this.paneR);
            },
        },

        watch: {
            paneL: function(newData) {
                Helpers.toggleBodyClass(newData, 'pane-l-open');
            },

            paneR: function(newData) {
                Helpers.toggleBodyClass(newData, 'pane-r-open');
            },
        },

    }
</script>

<style lang="scss" scoped>
    div.pane-t {
        @apply z-30 fixed inset-x-0 top-0 flex justify-between h-16 bg-white border-b-2 border-gray-900;

        div {
            @apply flex;

            &:first-child {
                button {
                    @apply border-r-2 border-gray-900 text-base;
                }
            }

            &:last-child {
                button {
                    @apply border-l-2 border-gray-900 text-base;
                }
            }

            button {
                &.active {
                    @apply text-white bg-gray-900;
                }

                @media (hover: hover) {
                    &:hover {
                        @apply text-white bg-gray-900;
                    }
                }
            }
        }

        button {
            @apply h-full text-xl;

            a {
                @apply flex flex-col h-full justify-center;
            }
        }
    }
</style>
