<template>
    <div class="pane-l" :class="{visible: paneL, invisible: !paneL}" @click.stop>
        <ul v-if="authenticated">
            <li>
                <router-link :to="{name: 'auth-dashboard'}" @click.native="hidePaneIfMobile" exact>Dashboard</router-link>
            </li>

            <li>
                <router-link :to="{name: 'auth-users'}" @click.native="hidePaneIfMobile" exact>Users</router-link>
            </li>
        </ul>

        <ul v-if="!authenticated">
            <li>
                <router-link :to="{name: 'home'}" @click.native="hidePaneIfMobile" exact>Home</router-link>
            </li>

            <li>
                <router-link :to="{name: 'about'}" @click.native="hidePaneIfMobile">About</router-link>

                <ul>
                    <li>
                        <router-link :to="{name: 'about'}" @click.native="hidePaneIfMobile" exact>Overview</router-link>
                    </li>

                    <li>
                        <router-link :to="{name: 'about-meet-the-team'}" @click.native="hidePaneIfMobile" exact>Meet The Team</router-link>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</template>

<script>
    import {mapMutations, mapState} from 'vuex';
    import Helpers from '../services/Helpers';

    export default {

        computed: {
            ...mapState('AppStore', [
                'paneL',
            ]),

            ...mapState('AuthStore', [
                'authenticated',
            ]),
        },

        methods: {
            ...mapMutations('AppStore', [
                'setPaneL',
            ]),

            hidePaneIfMobile: function() {
                if (Helpers.isMobile()) this.setPaneL(false);
            },
        },

    }
</script>

<style lang="scss" scoped>
    div.pane-l {
        @apply z-30 fixed inset-y-0 left-0 flex w-full mt-16 bg-white overflow-y-scroll;

        @screen lg {
            @apply w-64 border-r-2 border-gray-900;
        }

        > ul {
            @apply w-full;

            > li {
                @apply border-b-2 border-gray-900;

                a {
                    @apply flex items-center px-6 h-16 uppercase font-bold text-gray-900 no-underline;

                    &:hover, &.active, &.router-link-exact-active, &.router-link-active {
                        @apply text-white bg-gray-900;
                    }
                }

                > ul {
                    @apply mb-6 ml-6;

                    > li {
                        a {
                            @apply px-3 h-8 text-sm;
                        }
                    }
                }
            }
        }
    }
</style>
