<template>
    <div class="px-3 py-6 lg:px-6">
        <h1>Overview</h1>

        <h2>This is an example of text</h2>

        <p>This is an example of text.</p>
    </div>
</template>

<script>
    export default {

        //

    }
</script>

<style lang="scss" scoped></style>
